@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;
}

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #64748b;
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
}

@theme dark {
  --color-primary: #6366f1;
  --color-secondary: #94a3b8;
  --color-success: #22c55e;
  --color-warning: #fbbf24;
  --color-error: #ef4444;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

@layer components {
  .bg-app-light {
    background-color: white;
    color: black;
  }

  .bg-app-dark {
    background-color: rgb(17 24 39);
    color: white;
  }
}
